body {
	font-family: Verdana, Arial, Helvectica, sans-serif;
}

a {
  color: blue						;
}

.menu {
  position: relative;
  top: 10px;
  color: white;  
}
																																																																
.total {
  position : absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  background: url(images/green.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: white;
}

.topbar {
  position: absolute;
  top: 0%;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 40px;
}

.bottombar {
  position: absolute;
  height: 40px;
  bottom: 0%;
  width: 100%;
  opacity: 0.8;
  background: white;
  border-top: solid 1px;
}

.wrapperCont {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 100%;
}

.controller {
  position: relative;
  opacity:0.5;
  background: white;
  width: 100%;
  height: 100%;
  color: blue;
  padding: 10px;
}

.ctrl {
  margin-bottom: 20px;
}

#prev {
  background: url(images/left_arrow.png);
  background-size: 30px 35px;
  width: 30px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 48%;
  z-index: 99;
}

.wrapperCalc {
  position: relative;
  left: 10%;
  width: 600px;
  top: 85px;
  height: 500px;
}

.resizable {
  position: absolute !important;
  left: 30px;
  right: 30px;
  top: 0%;
  height: 100%;
  border-radius: 5px;
  min-width: 250px;
  min-height: 250px;
}

.pvcalc {
  position: relative;
  width: 100%;
  top: 0%;
  height: 100%;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
  background-color: white;
  opacity:0.85;
  border-radius: 5px;
}

#next {
  background: url(images/right_arrow.png);
  background-size: 30px 35px;
  position: absolute;
  width: 30px;
  height: 35px;
  top: 48%;
  right: 0px;
  z-index: 99;
}

.section {
  color: #FF7A00;
  font-size: 120%;
  font-weight: bold;
  height: 25px;
}

.option {
  position: relative;
  left: 20px;
  width: 400px;
  height: 50px;
  display: none;
  color: black;
  font-size: 60%;
  font-weight: normal;
  margin: 5px;
}

.option_name {
  position: relative;
  left: 0px;
  width: 150px;
  padding: 10px;
  color: rgb(10, 10, 128);
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  float: left;
}

.name {
  display: block;
  width: 400px;
  height: 50px;
}

.name  .option_name {
  width: 100px;
}

input {
  position: relative;
  left: 10px;
  width: 100px;
  height: 30px;
  padding: 0px 0px 0px 10px;
  border-color: rgba(0,0,0,0.1);
}

.name  input {
  width: 200px;
}

.choice {
  display: none;
}



.selectedS .option {
  display: block;
}

.selectedS .section_name {
  text-decoration: underline;
}

.contents {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 5%;
  width: 95%;
  overflow: auto; 
}

.sections {
	position: relative;
	top: 0px;
}

.section  {
  position: relative;
  width: 500px;
  height: 25px;
}

.basic.selectedS {
  height: 350px;
}

#page {
  position: absolute;
  top: 500px;
}

.pgNav {
  position: absolute;
  width: 100%;
  background-color: gray;
  min-height: 30px;
  max-height: 60px;
}

.tabNav {
  position: relative;
  top: 0px;
  width: 97%;
  font-size: 60%;
  float: left;
  overflow: hidden;
  margin-bottom: 3px;
  max-height: 40px;
}

.pageNav {
  position: relative;
  width: 40px;
  margin-right: 20px;
  margin-bottom: 3px;
  float: left;
  font-size: 60%;
  z-index: 99;
}

.all_tabs {
  position: relative;
}

.add_tab.window {
  position: absolute;
  right: 3px;
  top: 15px;
  font-size: 80%;
}

.hide {
  position: absolute;
  right: 20px;
  font-size: 80%;
}

.exit {
  position: absolute;
  right: 3px;
  font-size: 80%;
}

.wrapperTab {
  float: left;
  margin-right: 20px;
}

.tab {
  margin-right: 10px;
  float: left;
}

.removeTab {
  float: left;
}

.current_page, .current_tab {
  font-weight: bold;
  color: blue;
}


#result {
  font-size: 70%;
  border: 2px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
}

th {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

#submit, #check {
  display: none;
}

.startpg {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 150%;
}

.pointer {
  cursor: pointer;
  font-weight: bold;
}

.start_window {
  height: 100%;
  width: 300px;
  float: left;
  border-right: solid 1px;
}

.window_tab {
  height: 100%;
  width: 50px;
  float: left;
  border-right: solid 1px;
}

.window_img {
  height: 100%;
  width: 100%;
}

.map_preview {
  position: relative;
  top: 50px;
  width: 200px;
}

.map_img {
  background: url("images/map.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 150px;
}

.mouseover {
  box-shadow: 0 0 5px 2px rgba(224, 224, 31, 0.8);
}

.solar_img {
  background: url("images/solarenergy.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
