<!doctype html>
 
<html lang="en">
<head>
</head>


<body>
	<h2 align="center"> IGERT Lab Sign-in </h2>
	<div style="margin-top: 10px auto">
		<form id="loginForm" action="backendurl" method="post">
			<div>
				<input type="text" name="username" id="username" placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" />
				<input type="password" name="password" id="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" />
				
				<input type="submit" id="login" class="submitButton" value="Login" > </input>
				<p style="text-align:center; font-size: 11px; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif">
					<a class="signupButton" href="signup.htm" > Not yet registered? Sign-up </a>
				</p>
			</div>
		</form>
	</div>
</body>
</html>
