{% load staticfiles %}

<!doctype html>
 
<html lang="en">
<head>
	<script src="{% static 'calc/js/jQuery_1.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZwb7hymBp-IZPds8XtA86tCDKxEbzEcY&sensor=true"></script>
	<script src="{% static 'calc/js/mapSource.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'calc/css/map.css' %}" />
</head>


<body>
	<div class="wrapperMap">
		<div id="map-canvas">MAP CANVAS
		</div>
	</div>
	<div class="restMap">
		<div id="okayButton">OK</div>
		<div id="cancelButton">Cancel</div>
	</div>

</body>
</html>
