<!doctype html>
 
<html lang="en">
<head>
   
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
  <script src="jQueryCookie.js"></script>
  <script src="underscore.js"></script>	
  <script src="firstSource.js"></script>
  <script src="jQueryBlockUI.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="spinner.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  
</head>


<body>



<div class="wrapper">

	<div class="total">

		<div class="topbar">
		  <div class="menu">
			<a href="">Home</a> | 
			<a href="">About</a> | 
			<a href="">Research</a> |
			<a href="http://cleanenergy.ucla.edu/index.html">UCLA Igert Lab</a> |
		  </div>
		</div>

		<div class="wrapperCont">
			<div class="controller">
				<div class="ctrl ctrl_pvc cursor">PVWatts Calculator
				</div>
				<div class="ctrl ctrl_other cursor">Other Calculator
				</div>
				<div class="ctrl ctrl_googmap cursor">Google Map
				</div>
				<div class="ctrl ctrl_summary cursor">Summary
				</div>
			</div>
		</div>
		
		<div class="bottombar">
			<div class="start_window">
				<img class="window_img" src="header2.png"></img>
			</div>
		</div>


	</div>
</div>

<div id="testing"></div>

</body>
</html>