<!doctype html>
 
<html lang="en">
<head>
</head>


<body>
	<h2 align="center"> IGERT Lab Sign-Up </h2>
	<p align="center"><b> Please fill out all fields </b></p>
	<div style="margin-top: 10px auto">
		<form id="signupForm" action="login.htm" method="post">
			<div>
				<td id="fullname">
					<input type="text" name="first" id="first" placeholder="First Name" required="required" autocomplete="off" />
					<input type="text" name="last" id="last" placeholder="Last Name" required="required" autocomplete="off" />
				</td>
				<input type="text" name="email" id="email" placeholder="Your Email" required="required" autocomplete="off" />
				
				<input type="password" name="password" id="password" placeholder="Password" required="required" autocomplete="off" />
				<input type="password" name="password_confirm" id="password_confirm" placeholder="Re-enter Password" required="required" autocomplete="off" />
				<input type="submit" id="register" class="regButton" value="Sign Up"></input>
			</div>
		</form>
	</div>
</body>
</html>
